

body {
   background-image: url("tomte.png");
      background-size: cover;
   text-align: center;
  
}


.gift {
   width: 190px;
    padding: 2px;


}


#gift1 {
   border: 4px solid rgb(255, 0, 0);
   margin: 5px auto;
   background-color: #00e92f;
   margin-left:auto




}


#gift2 {
   border: 4px solid rgb(255, 0, 0);
   margin: 5px auto;
   background-color: rgb(245, 199, 199);
   margin-left: 1px;


   box-sizing: border-box;
}
#gift3 {
   border: 4px solid rgb(255, 0, 0);
   margin: -124px auto;
   background-color: rgb(68, 67, 155);
   margin-right: 13px;


  box-sizing: border-box;
}  



